block PrimaryNavigation
  - var NavItems = [{'url':'blockly','title':'Blockly'},{'url':'learnjsbasic','title':'Learn JavaScript.Основы'},{ 'url':'learnjsstructure','title':'Learn JavaScript.Структура'}];
  - var SiteItems = [{'url':'blockly','title':'Blockly'},{'url':'learnjsbasic','title':'Learn JavaScript.Основы'},{'url':'learnjsstructure','title':'Learn JavaScript.Структура'}]
    if PageID !== 'nav'
      ul
        each page,i in NavItems
          if PageID === page.url
            li
              a(class="active", href= page.url + '.html')= page.title
          else
            li
              a(href= page.url + '.html')= page.title
    else
      ul
        each page,i in SiteItems
            li
              a(href= page.url + '.html')= page.title