extends ../layout/template

block variables
  - var pageClass = 'page__blockly'
  - var PageTitle = "Main"
  - var PageID = 'main'


block content
  p
  p
  p: b 1.1.1. Ввод и вывод данных
  p
    | 1.Составьте программу, которая присваивает
    | переменной d значение 7, а затем выводит на экран:
    | в первой строке - это значение, во второй – квадрат этого значения,
    | в третьей – куб этого значения.
    | (Проверка⇑ ввод: 7 ⇒ вывод: 7, 49, 343)*/
  p
    | 2.Составьте программу, которая присваивает переменной h значение 5,
    | а затем выводит на экран: в первой строке - это значение с поясняющей надписью,
    | а во второй – квадрат этого значения (тоже с поясняющей надписью).
    | (Проверка⇑ ввод: 5 ⇒ вывод: h = 5, h в квадрате = 25)

  p
    | 3.Составьте программу, которая присваивает значения двум переменным,
    | а затем выводит на экран: в первой строке - произведение этих переменных
    | (с поясняющей надписью), во второй – сумму этих переменных (с поясняющей надписью).
    | (Проверка⇑ ввод: 3, 5 ⇒ вывод: a * b = 15, a + b = 8)

  p 4.Составьте программу, которая принимает
    | с клавиатуры целое число и выводит на экран два новых числа
    | (каждое в отдельной строке): число,
    | больше введенного с клавиатуры на 7,
    | и число, меньше введенного с клавиатуры на 9.
    | (Проверка⇑ ввод: 5 ⇒ вывод: 12, -4)
  p 5.Составьте программу, которая принимает с клавиатуры два целых числа
    | и выводит на экран следующие значения (каждое в отдельной строке):
    | сумму введенных чисел, их произведение, разницу между первым и вторым,
    | разницу между вторым и первым.
    | (Проверка⇑ ввод: 5, 9 ⇒ вывод: 14, 45, -4, 4)
  p
    | 6.Составьте программу, которая принимает с клавиатуры два целых числа и выводит на экран следующие значения (каждое в отдельной строке): квадрат каждого числа (отдельно) и сумму квадратов введенных чисел.
    | (Проверка⇑ ввод: 4, 6 ⇒ вывод: 16, 36, 52)
  p 7.Составьте программу, которая принимает с клавиатуры два целых числа, первое из которых - год рождения ученика, а второе – нынешний (текущий) год. Программа должна вывести на экран возраст ученика (в целых годах).
    | (Проверка⇑ ввод: 2006, 2018 ⇒ вывод: вам 12 лет)
  p
  p
  p: b 1.2.1. Неполное ветвление
  p
    | 1.Составьте программу, которая принимает с клавиатуры целое число
    | и, если оно положительное, увеличивает его вдвое. Программа должна выводить
    | на экран новое значение.
    | (Проверка⇑ ввод: 8 ⇒ вывод: 16)
  p 2.Составьте программу, которая принимает с клавиатуры целое число
    | и, если оно равно нулю, выводит на экран сообщение "ноль".
    | (Проверка⇑ ввод: 0 ⇒ вывод: ноль)
  p 3.Составьте программу, которая принимает с клавиатуры целое число
    | и выводит на экран одно из следующих сообщений: "положительное",
    | или "отрицательное", или "ноль" – в зависимости от значения числа.
    | (Проверка⇑ ввод: 4 ⇒ вывод: положительное; ввод: -7 ⇒ вывод: отрицательное;
    | ввод: 0 ⇒ вывод: ноль)
  p 4.Составьте программу, которая принимает с клавиатуры два целых числа и,
    | если первое больше второго, выводит на экран их сумму,
    | если же наоборот – выводит на экран их произведение.
    | В случае же, если числа одинаковы, программа выводит
    | на экран сообщение "числа одинаковые".
    | (Проверка⇑ ввод: 9, 2 ⇒ вывод: 11;
    | ввод: 3, 8 ⇒ вывод: 24; ввод: 6,
    | 6 ⇒ вывод: числа одинаковые)
  p 5.Составьте программу, которая принимает с клавиатуры два целых числа и,
    | если оба имеют одинаковый знак, на экран выводится сообщение
    | "один и тот же знак", а если разный, то на экран выводится сообщение
    | "разные знаки". Если же оба числа равны 0, выводится сообщение "некорректно".
    | (Проверка⇑ ввод: 5, 2 ⇒ вывод: один и тот же знак;
    | ввод: 1, -5 ⇒ вывод: разные знаки; ввод: 0, 4 ⇒ вывод: некорректно)
  p 6.Составьте программу, которая принимает с клавиатуры два значения:
    | первое – числитель дроби, второе – ее знаменатель
    | (можно исходить из предположения, что второе значение отлично от нуля).
    |   Программа должна определить, является ли эта дробь положительной
    |   или отрицательной, и вывести на экран соответствующее текстовое сообщение.
    | (Проверка⇑ ввод: 3, 5 ⇒ вывод: дробь положительная;
    | ввод: -4, 7 ⇒ вывод: дробь отрицательная)
  p 7.Составьте программу, которая принимает с клавиатуры
    | три значения (а, b и с), являющиеся коэффициентами
    | квадратного уравнения. Программа должна определить,
    | имеется ли у этого уравнения хотя бы один корень (решение),
    | и вывести на экран соответствующее текстовое сообщение.
    | (Проверка⇑ ввод: 1, 8, 2 ⇒ вывод: уравнение имеет решение; ввод: 7, 3, 6 ⇒ вывод: уравнение не имеет решения)

block append scripts
  script(src="js/blockly.min.js", type="text/javascript")


