.idea
.DS_Store
.cache/
node_modules
/public/dist
/public/backend
/public/config
/public/modules
/public/app
/public/frontend

/npm-debug.log
/config/*.log
/config/*.json
/nbproject/private/
.vscode
package-lock.json
yarn-error.log
dump.rdb
#!config
#config/development